.portfolio
	@extend %section
	background-color: #f5fafa

.portfolio__header
	@extend %title

.portfolio__description
	@extend %description

.porfolio__projects
	display: flex
	justify-content: center
	flex-wrap: wrap
	// flex-direction: column

.portfolio__project
	margin: 0.9em

.project
	background-color: #fff

.project__title
	padding: 0 0 0.5em 0
	font-size: 0.8em