.promo
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

	background-color: #81918E
	background-size: cover
	background-position: center center
	padding: 6em 0

	text-align: center

.promo__header
	margin-bottom: 1em